.landing-buttons-container {
  color: white;
  position: fixed;
  right: 0;
  bottom: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.landing-button {
  margin: 1rem;
}
.loading-page-background {
  height: 100vh;
  background-color: rgb(32, 34, 46);
}
.landing-container {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
  height: 100vh;
  width: 100%;
}
.landing-navbar {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 1%;
  padding-right: 5%;
}
.landing-navbar-buttons {
  display: flex;
  gap: 1rem;
}
.landing-content {
  z-index: 5;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
}
.workspace-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.not-found-buttons-group {
  display: flex;
  width: 90%;
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
}
.spline-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.text-content {
  overflow: hidden;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
.text-container {
  max-width: 400px;
  margin-top: auto;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header {
  z-index: 5;
}
.header > h1 {
  font-size: xx-large;
}
.header > p {
  font-size: x-large;
}
.description {
  z-index: 5;
  font-size: large;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .splineObject {
    transform: scale(0.8) translateX(-300px) translateY(-150px);
  }
}
@media screen and (max-width: 800px) {
  .splineObject {
    transform: scale(0.6) translateX(-400px) translateY(-200px);
  }
}
@media screen and (max-width: 600px) {
  .splineObject {
    transform: scale(0.4) translateX(-500px) translateY(-400px);
  }
}
@media screen and (min-width: 1000px) and (max-height: 900px) {
  .splineObject {
    transform: scale(0.8) translateX(-200px);
  }
}
