.landing-buttons-container {
  color: white;
  position: fixed;
  right: 0;
  bottom: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.landing-button {
  margin: 1rem;
}
.loading-page-background {
  height: 100vh;
  background-color: rgb(32, 34, 46);
}
.landing-container {
  color: white;
  z-index: 1;
  height: 100vh;
  width: 100%;
}
