.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background: radial-gradient(
    ellipse at bottom,
    rgb(32, 34, 46) 0%,
    rgb(18, 19, 26) 100%
  );
}
.link-res a {
  text-decoration: none;
  color: #7d77f8;
}
.input-show-password {
  cursor: pointer;
  user-select: none;
  margin-left: auto;
}
.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.auth-input {
  color: white;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 5px;
  padding: 5%;
  background-color: rgb(21, 23, 31);
  font-size: medium;
  width: 100%;
  margin-top: 5%;
}
.auth-input:hover {
  border: 1px solid rgb(73, 73, 73);
}
.auth-input:focus {
  border: 1px solid #645bff;
  outline: 0;
}
.forgot-passowrd-link {
  margin-top: 8%;
}
.passowrd-input-footer {
  display: flex;
  width: 100%;
  margin-bottom: 15%;
}
.stay-logged-in-checkbox-container {
  user-select: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: flex-start;
}
.auth-button {
  margin-top: 5%;
  font-size: medium;
  width: 100%;
}
.password-input-error-placeholder {
  font-size: small;
  color: rgb(255, 134, 134);
  margin-right: auto;
  height: 20px;
}
.email-input-error-placeholder {
  font-size: small;
  color: rgb(255, 134, 134);
  margin-right: auto;
  height: 20px;
}
