/* Arrow Button Signup */
/* 
<button className="signup-arrow-button">
    Sign up
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button> 
*/
.signup-arrow-button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer !important;
  --primary-color: #645bff;
  --secondary-color: #fff;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}
.signup-arrow-button span {
  white-space: nowrap;
  word-wrap: normal;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
}
.signup-arrow-button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-arrow-button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.signup-arrow-button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.signup-arrow-button:hover .arrow {
  background: var(--secondary-color);
}

.signup-arrow-button:hover .arrow:before {
  right: 0;
}

/* color sliding button two tone */
/* 
<button className="login-sliding-button">
  <span>BUTTON</span>
</button>
 */

.login-sliding-button {
  cursor: pointer !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
}

.login-sliding-button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: transparent;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.login-sliding-button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.login-sliding-button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.login-sliding-button:hover span {
  color: rgba(255, 255, 255, 0.719) !important;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* sliding button from center */

.slide-center-button {
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #645bff;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #645bff;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.slide-center-button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #645bff;
  z-index: -1;
}

.slide-center-button:hover,
.slide-center-button:focus {
  color: white;
}

.slide-center-button:hover:before,
.slide-center-button:active::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.slide-center-button:active {
  transform: scale(0.9);
}

/* Checkbox styled shakey */

.cbx {
  position: relative;
  top: 1px;
  width: 27px;
  height: 27px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
}

.cbx:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #645bff;
  animation: jelly 0.6s ease;
}

#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.cntr {
  position: relative;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

.hidden-xs-up {
  display: none !important;
}

/* Logout button  */
/* Structure  */
/* <button class="logout-button-a">
  
  <div class="logout-button-a-icon"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
  
  <div class="logout-button-a-text">Logout</div>
</button>


 */
/* CSS */
.logout-button-a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.logout-button-a-icon {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button-a-icon svg {
  width: 17px;
}

.logout-button-a-icon svg path {
  fill: white;
}
/* text */
.logout-button-a-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.logout-button-a:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}
.logout-button-a-sidebar-custom:hover {
  width: 100% !important;
}

.logout-button-a:hover .logout-button-a-icon {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.logout-button-a:hover .logout-button-a-text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 0px;
}
/* button click effect*/
.logout-button-a:active {
  transform: translate(2px, 2px);
}
/* Bacl Button */
/* <button className="go-back-button">
  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
  <span>Back</span>
</button> */

.go-back-button {
  color: white;
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #645bff;
}

.go-back-button > svg {
  fill: white;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.go-back-button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.go-back-button:hover {
  box-shadow: 9px 9px 33px #635bff79, -9px -9px 33px #635bff71;
  transform: translateY(-2px);
}

/* 
<button className="plus-icon-button">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Create
  </span>
</button>
 */

.plus-icon-button {
  border: 2px solid #645bff;
  background-color: #645bff;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.plus-icon-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.plus-icon-button:hover {
  background-color: #646bff;
}
